body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.sidebar {
    background-color: #34d346;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 40px;
    height: 90vh;
    width: 250px;
}
  
.item {
    font-weight: bold;
    margin: 10px;
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      "Helvetica Neue", sans-serif;
}

