body {
    display: grid;
    grid-template-areas: 
    "header header"
    "siderbar main"
    "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.sidebar body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.sidebar {
    grid-area: sidebar;
    background-color: #34d346;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    padding-right: 40px;
}
  
.sidebar .item {
    font-weight: bold;
    margin: 10px;
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      "Helvetica Neue", sans-serif;
}

body {
    margin: 0px;
  }
  
  img {
    height: 80px;
  }
  
  #navbar-one {
    height: 60px;
    padding: 10px;
    display: flex;
    background-color: lightgray;
    align-items: center;
    gap: 22px;
  }
  
  #navbar-two {
    height: 120px;
    padding: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  
  .item {
    grid-area: main;
    margin: 10px;
  }
  
  .album {
    margin: 0 50px;
    text-align: center;
  }
  
  img {
    object-fit: cover;
  }
  
  #circle {
    height: 50px;
    width: 50px;
    background-color: rgb(8, 137, 8);
    border-radius: 50%;
  }

  body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    bottom: 0px;
    padding: 20px;
    box-sizing: border-box;
  }

.footer .item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 150;
}

.footer .title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer .info {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

  .container img {
    height: 200px;
  }
  
  del {
    color: grey;
  }
  
  .footer .info #circle {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  flex-shrink: 0;
}

@media (max-width: 700px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
}

  .container {
    margin: 30px;
    padding: 10px;
    border-style: solid;
    border-color: green;
  }
  
  .container .item {
    margin: 0 5px;
    padding: 5px;
    width: 250px;
  }

  .footer .item {
    margin-bottom: 20px;
    width: 45%;
  }

  @media (max-width: 400px) {
    .footer .item {
      width: 90%;
    }
  }
